# AZURE

AZURE_OPENAI_API_KEY=""
AZURE_SEARCH_INDEX="your_index"
AZURE_SEARCH_ADMIN_KEY=""
AZURE_SEARCH_ENDPOINT=""
AZURE_SEARCH_AGENT_NAME="your_agent"
AZURE_OPENAI_ENDPOINT=""
AZURE_SEARCH_QUERY_KEY=""
AZURE_CLIENT_ID=""
AZURE_TENANT_ID=""
AZURE_CLIENT_SECRET=""

# PINECONE
# PINECONE_API_KEY=""
PINECONE_API_KEY=""

# OPENAI
OPENAI_API_KEY=""
OPENAI_API_VERSION=""

# QDRANT
QDRANT_API_KEY=""
QDRANT_CLOUD_URL=""
# QDRANT_API_KEY=""
# QDRANT_CLOUD_URL=""



# COHERE
COHERE_API_KEY=""

# GEMINI
GEMINI_API_KEY=""
GOOGLE_GENAI_USE_VERTEXAI="True"
GOOGLE_CLOUD_LOCATION="global"
GOOGLE_CLOUD_PROJECT=""


# DEEP EVAL (Currently unused)
DEEPEVAL_API_KEY=""


# VERTEX
VERTEX_CORPUS_BUCKET_NAME=""
VERTEX_RAG_CORPUS_LOCATION=""



# MILVUS
MILVUS_USERNAME=""
MILVUS_PASSWORD=""
MILVUS_ENDPOINT=""